/* Common */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
#header {
    width: 100%;
}

/* Main */
#main {
    width: 100%;
    min-height: 70vh;
    flex: 1 0 auto;

    .card {
        max-height: 500px;
        overflow: hidden;

        &:hover {
            transform: scale(1.01);
            cursor: pointer;
        }

        img {
            height: 300px;
        }
    }
}

/* Footer */
#footer {
    width: 100%;
    margin-top: auto;
}